.order-pay {
    .breadcrumb {
        background: #F8F8F8;
        .links {
            height: 4em;
            display: flex;
            align-items: center;
            a {
                padding-left: 1em;
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.50);
                line-height: 24px;
            }
        }
    }
    .info {
        padding-top: 2em;
        padding-bottom: 6em;
        .detail {
            background: rgba(27, 199, 100, 0.03);
            border: 1px solid rgba(27, 199, 100, 0.30);
            border-radius: 4px;
            padding: 40px 35px;
            .icon {
                display: inline-block;
                img {
                    width: 144px;
                }
            }
            .summary {
                width: 480px;
                display: inline-block;
                vertical-align: top;
                padding-top: 6px;
                padding-left: 24px;
                .title {
                    font-family: PingFangSC-Semibold;
                    font-size: 20px;
                    color: #2D2D2D;
                    line-height: 26px;
                    margin-bottom: 1em;
                }
                .box {
                    .num,
                    .amount {
                        width: 50%;
                        display: inline-block;
                        h4 {
                            font-family: PingFangSC-Semibold;
                            font-size: 12px;
                            color: rgba(0, 0, 0, 0.45);
                            line-height: 16px;
                        }
                        p.number {
                            font-family: PingFangSC-Regular;
                            font-size: 14px;
                            color: rgba(0, 0, 0, 0.70);
                            line-height: 18px;
                            padding: 0.2em 0;
                        }
                        p.price {
                            font-family: PingFangSC-Regular;
                            font-size: 19px;
                            color: #1BC864;
                            line-height: 18px;
                            padding: 0.2em 0;
                        }
                    }
                    .amount {
                        padding-left: 25%;
                        border-left: 1px solid #E6E6E6;
                    }
                }
            }
        }
        .pay-channels {
            margin-top: 48px;
            border-bottom: 1px solid #E6E6E6;
            .title {
                padding: 0.5em 0;
                margin-bottom: 1em;
                border-bottom: 1px solid #E6E6E6;
            }
            .channels {
                margin: 4em 0;
                .channel {
                    text-align: center;
                    img {
                        display: block;
                        margin: 0 auto;
                        height: 56px;
                    }
                    #paypal {
                        margin: 1em 0;
                        display: block;
                        iframe {
                            margin:  0 auto;
                        }
                    }
                    .channel-desc {
                        font-size: 14px;
                    }
                    .btn-channel {
                        padding: 1em 0;
                        display: inline-block;
                        .btn-channel-button {
                            background: #FFD200;
                            border-radius: 2px;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .pay-suggestion {
            margin: 0 0 2em 0;
            .title {
                padding: 0.5em 0;
                margin-bottom: 1em;
                border-bottom: 1px solid #E6E6E6;
            }
        }
        .actions {
            text-align: right;
            margin-top: 4em;
            .btn-actions {
                display: inline-block;
                margin: 0 0.5em;
                padding: 0.6em 2em;
            }
        }
    }
}